<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="C:\Users\hp\PycharmProjects\c\ChillFlix\static\css\style.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <header>
  <div class="title">
    <img src="C:\Users\hp\PycharmProjects\c\ChillFlix\static\css\title3.png" alt="website title">

  </div>
       <div class="head">
      <span><a href="#">Home</a></span>
      <span><a href="#">Latest</a></span>
      <span><a href="#">Best</a></span>
      <span><a href="#">All Categories</a></span>
        <div class="search-btn">

        <input type="text" name="search" value="" placeholder="Search here">
          <button type="button" name="button">Search</button>
           </div>

    </div>
  </header>

  <div class="container">


     <div class="movie-box">
       <img src="C:\Users\hp\Desktop\movies\Venom.jpg" alt="movies img">
       <span>{{movie-name}}</span><br>
       <span>{{year}}</span><br>
        <span>{{audio}}</span>

     </div>

     <div class="movie-box">
       <img src="C:\Users\hp\Desktop\movies\Venom.jpg" alt="movies img">
       <span>{{movie-name}}</span><br>
       <span>{{year}}</span><br>
        <span>{{audio}}</span>

     </div>


     <div class="movie-box">
       <img src="C:\Users\hp\Desktop\movies\Venom.jpg" alt="movies img">
       <span>{{movie-name}}</span><br>
       <span>{{year}}</span><br>
        <span>{{audio}}</span>

     </div>


     <div class="movie-box">
       
       <img src="C:\Users\hp\Desktop\movies\Venom.jpg" alt="movies img">
       <span>{{movie-name}}</span><br>
       <span>{{year}}</span><br>
        <span>{{audio}}</span>

     </div>




  </div>


<footer>
<div class="footer">
   <span>Copyright &(copy)</span><br>
  <a href="#">About</a><br>
  <a href="#">Contact</a><br>
  <a href="#">Report</a><br>

</div>
</footer>






</body>
</html>
