{% extends 'index.html' %}

{%block style%}

<style>
    label{
        padding: 20px;
        margin: 20px;
    }

    input{
        padding: 20px;
        border: 2px solid black;
        background:rgb(105, 105, 105) ;
        margin: 20px;
    }

    input:hover{
        border: 2px solid rebeccapurple;
    }

    #btn{
        width: 80px;
        margin-left: 50px;
    }
</style>
  {% endblock%}

{% block body %}

<div class="container" style="background-color: antiquewhite;">

    <h1>Report Broken Links Us</h1>
<label for="">Your Name</label><input type="text"><br>
<label for="">Your Email</label><input type="email"><br>
<label for="">Movie Name</label><input type="text"><br>
<label for="">Your massage</label><input type="text"><br>
<input type="button" name="" id="btn" value="Send">

</div>



{% endblock %}