<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'css\movie_css.css'%}">
    <meta charset="UTF-8">
    <title>movie-name</title>
</head>
<body>

  <header >
  <div class="title">
    <img src="{% static 'css\title3.png'%}" alt="website title">

  </div>
       <div class="head">
      <span><a href="/">Home</a></span>
      <span><a href="/">Latest</a></span>
      <span><a href="#">Web Series</a></span>
      <span><a href="#">All Categories</a></span>
        <div class="search-btn">

        <input type="text" name="search" value="" placeholder="Search here">
          <button type="button" name="button">Search</button>
           </div>

    </div>
  </header>


  <div class="container">

  <div class="left-container">

    <h1>Related Movies</h1>



  	<ul>

    {% for m_relate in m_related %}
     
        <li>
        	<a href="{% url 'movie_info' m_relate.id %}">
            
            

     <div class="movie-box">
      <img src="/media/{{m_relate.M_img}}">


       <span >{{m_relate.M_name}}</span><br>
      
        <span>{{m_relate.M_languages}}</span><br>
         <span>{{m_relate.M_quality}}</span>

     </div>
     </a>
      </li>

      {% endfor %}





   </ul>



  


  </div>



  
  <div class="right-container">
   
    <img src="/media/{{movie.M_pics}}" alt="">


    <div class="watch-btn">
      <button type="button" name="button">Watch</button>
      {% for i in Q%}
     <a href="sendfile/{{movie.id}}/_{{i}}"> <button type="button" name="button">{{i}}</button></a>
      
      {% endfor %}
    </div>

    <div class="movie-info">

   
    <h1>{{m.M_name}}</h1><h6>{{movie.M_time_length}} | {{movie.M_Categories}}</h6>
    <h3>Audio: {{m.M_languages}}</h3>
    <h3>Quality: {{m.M_quality}}</h3>
    <h3>Creator: {{movie.M_creator}}</h3>

      <h1>Storyline</h1><br>
      <span>{{movie.M_story}}</span>
       <br>
       <h1>Screenshots</h1><br>
          
       <img src="/media/{{i.screenshot1}}" alt=""><br>
       <img src="/media/{{i.screenshot2}}" alt=""><br>
       <img src="/media/{{i.screenshot3}}" alt=""><br>

        
       
    </div>

  </div>




  <div class="cmt">
  	
  <h1>COMMENTS</h1><br>
  <form action="usercmt" method="POST">
    {% csrf_token %} 
  <span class="msg">Say something?</span><textarea placeholder="what u want 2 say" name="usermsg"></textarea><br>
  <input type="text" placeholder="UserName" name="username"><br>
  <input  type="hidden" name="id" value="{{movie.id}}">
  <input type="email" placeholder="Email" name="email"><br>
  <button type="submit">Add Comment</button>
</form>

  <hr>
  <hr>


  <div class="usercmt">
   
    <h1>UserName</h1>
    <h7>2h ago</h7>
    <div class="text">
      <span>excelent movie Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi ea maxime hic. Vel repellat veniam culpa eius blanditiis neque ipsam dolore, cupiditate, iure distinctio eveniet quidem, temporibus quia! Reiciendis, hic.</span>
    </div>

  </div>

  <div class="usercmt">
   
    <h1>UserName</h1>
    <h7>2h ago</h7>
    <div class="text">
      <span>excelent movie Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi ea maxime hic. Vel repellat veniam culpa eius blanditiis neque ipsam dolore, cupiditate, iure distinctio eveniet quidem, temporibus quia! Reiciendis, hic.</span>
    </div>

  </div>

  <div class="usercmt">
   
    <h1>UserName</h1>
    <h7>2h ago</h7>
    <div class="text">
      <span>excelent movie Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi ea maxime hic. Vel repellat veniam culpa eius blanditiis neque ipsam dolore, cupiditate, iure distinctio eveniet quidem, temporibus quia! Reiciendis, hic.</span>
    </div>

  </div>
  
  </div>





  </div>

  <footer>
  <div class="footer">
     <span>Copyright &copy 2020</span><br>
    <a href="\about_us">About</a><br>
    <a href="#">Contact</a><br>
    <a href="#">Report</a><br>

  </div>
  </footer>

</body>
</html>
