<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'css\movie_css.css'%}">
    <meta charset="UTF-8">
    <title>movie-name</title>
</head>
<body>

  <header >
  <div class="title">
    <img src="{% static 'css\title3.png'%}" alt="website title">

  </div>
       <div class="head">
      <span><a href="#">Home</a></span>
      <span><a href="#">Latest</a></span>
      <span><a href="#">Best</a></span>
      <span><a href="#">All Categories</a></span>
        <div class="search-btn">

        <input type="text" name="search" value="" placeholder="Search here">
          <button type="button" name="button">Search</button>
           </div>

    </div>
  </header>


  <div class="container">

  <div class="left-container">



  	<ul>


     
        <li>
        	<a href="#">
            
            

     <div class="movie-box">

         <img src="/media/{{i.M_img}}">
       <span>{{i.M_name}}</span><br>
       <span>{{i.M_released_date}}</span><br>
        <span>{{i.M_languages}}</span><br>
         <span>{{i.M_quality}}</span>

     </div>
     </a>
      </li>

      <li>
        	<a href="#">
            
            

     <div class="movie-box">

         <img src="/media/{{i.M_img}}">
       <span>{{i.M_name}}</span><br>
       <span>{{i.M_released_date}}</span><br>
        <span>{{i.M_languages}}</span><br>
         <span>{{i.M_quality}}</span>

     </div>
     </a>
      </li>
      <li>
        	<a href="#">
            
            

     <div class="movie-box">

         <img src="/media/{{i.M_img}}">
       <span>{{i.M_name}}</span><br>
       <span>{{i.M_released_date}}</span><br>
        <span>{{i.M_languages}}</span><br>
         <span>{{i.M_quality}}</span>

     </div>
     </a>
      </li>
      <li>
        	<a href="#">
            
            

     <div class="movie-box">

         <img src="/media/{{i.M_img}}">
       <span>{{i.M_name}}</span><br>
       <span>{{i.M_released_date}}</span><br>
        <span>{{i.M_languages}}</span><br>
         <span>{{i.M_quality}}</span>

     </div>
     </a>
      </li>



      



    


   </ul>



  


  </div>



  
  <div class="right-container">
    <img src="{% static 'css\john_wick2.jpg' %}" alt="">

    <div class="watch-btn">
      <button type="button" name="button">Watch</button>
       <button type="button" name="button">Download</button>
    </div>

    <div class="movie-info">

   
    <h1>movie.name</h1><h6>movie.duration | movie.categories</h6>
    <h3>Audio: movie.audios</h3>
    <h3>Quality: movie.quality</h3>
    <h3>Creator: movie.maker</h3>

      <h1>Storyline</h1><br>
      <span>movie.story   Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, blanditiis cupiditate! Necessitatibus, sunt voluptates soluta sed magnam quo dolorum nihil quis eaque aliquam aut asperiores aliquid aperiam! Ratione, exercitationem quam.</span>
       <br>
       <h1>Screenshots</h1><br>
       <img src="{% static 'css\joker-img.jpg' %}" alt=""><br>
       <img src="{% static 'css\joker-img.jpg' %}" alt="">
       <img src="{% static 'css\joker-img.jpg' %}" alt="">
    </div>

  </div>




  <div class="cmt">
  	
  <h1>COMMENTS</h1><br>
  <span class="msg">Say something?</span><textarea placeholder="what u want 2 say" name="cmts"></textarea><br>
  <input type="text" placeholder="UserName" name="username"><br>
  <input type="email" placeholder="Email" name="email"><br>
  <button type="button">Add Comment</button>

  <hr>
  <hr>


  <div class="usercmt">
   
    <h1>UserName</h1>
    <h7>2h ago</h7>
    <div class="text">
      <span>excelent movie Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi ea maxime hic. Vel repellat veniam culpa eius blanditiis neque ipsam dolore, cupiditate, iure distinctio eveniet quidem, temporibus quia! Reiciendis, hic.</span>
    </div>

  </div>

  <div class="usercmt">
   
    <h1>UserName</h1>
    <h7>2h ago</h7>
    <div class="text">
      <span>excelent movie Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi ea maxime hic. Vel repellat veniam culpa eius blanditiis neque ipsam dolore, cupiditate, iure distinctio eveniet quidem, temporibus quia! Reiciendis, hic.</span>
    </div>

  </div>

  <div class="usercmt">
   
    <h1>UserName</h1>
    <h7>2h ago</h7>
    <div class="text">
      <span>excelent movie Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi ea maxime hic. Vel repellat veniam culpa eius blanditiis neque ipsam dolore, cupiditate, iure distinctio eveniet quidem, temporibus quia! Reiciendis, hic.</span>
    </div>

  </div>
  
  </div>





  </div>

  <footer>
  <div class="footer">
     <span>Copyright &copy 2020</span><br>
    <a href="#">About</a><br>
    <a href="#">Contact</a><br>
    <a href="#">Report</a><br>

  </div>
  </footer>

</body>
</html>
