
{% extends 'index.html' %}
{% load static %}


    {%block style%}

<link rel="stylesheet" href="{% static 'css/series_season.css'%}">
  {% endblock%}

  {% block body %}

   <div class="left-container">

       <div class="s-img">

        <img src="\media\poster_pic\big_poster.jpg" alt="">
       </div>

       <div class="series-info">

        
        <h1>MR. Robot{{series.series_name}}</h1>

       <label>Total Episodes: </label> <span>{{season.total_episodes}}</span><br>
        <label>Audio: </label><span>Audio: {{series.audio}}</span><br>
        <label>Quality: </label><span>Quality: {{season.quality}}</span><br>
        <label>Creator: </label><span>Creator: {{seriesinfo.creator}}</span><br>
        <label>Director: </label><span>Creator: {{seriesinfo.director}}</span><br>
        <label>Actors: </label><span>{{seriesinfo.actors}}</span><br>

    
        <h2>StoryLine</h2>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, dignissimos qui atque est totam voluptatibus ratione earum consequatur mollitia. Illo at voluptatibus rem explicabo iusto consequatur itaque eligendi reprehenderit fugit.</span>
        </div>
        <div class="episode">
            <label>Episode No: </label><span>1</span><br>
            <label>Episode Name:</label><span>Error</span><br>
            <label>Download</label><span>HD</span><br>
        </div>

   </div>

   <div class="r-container">
       <div class="next-season">

       </div>

       <div class="next-season">
           
    </div>
   </div>


    
{% endblock %}