{% extends 'index.html' %}
{% load static %}

{%block style%}

<link rel="stylesheet" href="{% static 'css\movie_css.css'%}">
  {% endblock%}


{% block body%}

<div class="mcontainer">

  <div class="left-container">

    <h1>Related Series</h1>



  	<ul>

    {% for m_relate in m_related %}

        <li>
        	<a href="{% url 'series_info' m_relate.id %}">



     <div class="mmovie-box">
      <img src="/media/{{m_relate.series_poster}}">


       <span >{{m_relate.series_name}}</span><br>

        <span>{{m_relate.languages}}</span><br>
        <span>{{m_relate.languages}}</span><br>

     </div>
     </a>
      </li>

      {% endfor %}





   </ul>






  </div>




  <div class="right-container">

    <img src="/media/{{seriesinfo.poster}}" alt="img">


    <div class="movie-info">


    <h1>{{series.series_name}}</h1><h6>{{seriesinfo.categories}}</h6>
    <h3>Audio: {{series.languages}}</h3>
    <h3>Seasons: {{seriesinfo.seasons}}</h3>
    <h3>Creator: {{seriesinfo.creator}}</h3>

      <h1>Storyline</h1>
      <span >{{seriesinfo.storyline}}</span>
       <br>
       <div></div>
       <h1>Seasons</h1>
       {% for i in seasons %}
             
      <a href="{% url 'season' series.id i %}"> <h3 style="color: red;">Season {{i}}</h3><br> </a>

       {% endfor %}


    </div>

  </div>




  <div class="cmt">

  <h1>COMMENTS</h1><br>

    <form method="post" id="cmtform">
      {% csrf_token %}
  <span class="msg">Say something?</span><textarea placeholder="what u want 2 say" name="usermsg" id="usermsg"></textarea><br>
  <input type="text" placeholder="UserName" name="username" id="username"><br>
  <input  type="hidden" id="s_id" name="id" value="{{seriesinfo.id}}">
  <input type="email" placeholder="Email" name="email" id="email"><br>
  <button id="cmt1" type="submit">Add Comment</button>
</form>

  <hr>
  <hr>

  <h1 id="usercomments">User Comment</h1>
    <div id="cmtdiv">
 {% for i in usercmts%}

  <div class="usercmt" id="cmts">

    <h1>{{i.U_name}}</h1>
    <h7>{{i.cmt_date}}</h7>
    <div class="text">
      <span>{{i.U_msg}}</span>
    </div>

  </div>

  {% endfor %}

</div>



  </div>

</div>


<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

document.getElementById('cmtform').addEventListener('submit',
 function (e){
   e.preventDefault()
   var xhr = new XMLHttpRequest()
   var username = document.getElementById('username').value
   var email = document.getElementById('email').value
   var id = document.getElementById('s_id').value
   var usermsg = document.getElementById('usermsg').value
   var time = new Date()
   
   
   xhr.open("POST","{% url 'usercmt' %}",true)
   xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
   xhr.setRequestHeader("X-CSRFToken", csrftoken)
   xhr.send(`username=${username}&email=${email}&id=${id}&usermsg=${usermsg}`)
   xhr.onreadystatechange = function(){
     if(this.readyState==4 && this.status==200)
     {
      var tNew = document.createElement('div');
         tNew.innerHTML = ` <div class="usercmt" id="cmts"><h1>${username}</h1>
    <h7>${time}</h7>
    <div class="text">
      <span>${usermsg}</span>
    </div>`
            

            
            var cmtdiv = document.getElementById('cmtdiv');
            cmtdiv.insertBefore(tNew, cmtdiv.firstChild);
      
     
   }
 }

 }
)


</script>









{%endblock%}
